if [[ "$OSTYPE" == "linux-gnu"* ]]; then
    if ! grep -qE '^ID=nixos$' /etc/os-release; then
        exit 0
    fi
    use nix

    VIRTUAL_ENV="$PWD/.venv"
    export VIRTUAL_ENV
    PATH_add "$VIRTUAL_ENV/bin"
fi

